.person-info-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    max-height: fit-content;
}

.person-info-text
{
    width: 50%;
    min-width: 400px;
}

.person-info-pictures {
    width: 50%;
    min-width: 400px;
}

.title {
    margin-left: 3%;
}

p {
    margin-left: 2%;
    text-indent: 3%;
}

p:last-of-type {
    font-weight: bolder;
}

.welcome_img {
    max-width: 450px;
    margin: auto;
}


.PersonPreviewCard {
    margin-bottom: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial;
}

.person_container {
    padding: 10px;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.image {
    width: 100%;
}

