

.familyClass {
    margin-bottom: 30px;
}

.familyClass .title {
    font-size: 3vw;
}

.familyClass .subtitle {
    font-size: 1rem;
}

.familyClass .member_container {
    position: relative;
    height: 5rem;
}

.familyClass .member_container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    padding: 1em 3.5em;
    color: black;
}

.familyClass .member_container .btn::before, .familyClass .member_container .btn::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: top 0.5s, left 0.5s;
}

.familyClass .member_container .btn::before {
    border-left: 2px solid crimson;
    border-top: 2px solid crimson;
}

.familyClass .member_container .btn::after {
    border-right: 2px solid crimson;
    border-bottom: 2px solid crimson;
}

.familyClass .member_container .btn:hover::before {
    top: -5px;
    left: -15px;
}

.familyClass .member_container .btn:hover::after {
    top: 5px;
    left: 15px;
}

@media (max-width: 768px) {
    .familyClass .title {
        font-size: 3vh;
    }
}

