@font-face {
    font-family: HanZi;
    src: url(Fonts/han-zi.ttf);
}
.App {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: HanZi;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

main {
}